.carousel-inner{
  height: 60vh;
}
.carousel-item img{
  -webkit-transform: translate(0,-30%);
      -ms-transform: translate(0,-30%);
          transform: translate(0,-30%);
}
.w3-card{
  width: 20em;
  background-color: white;
  border-radius: 20px;
}
.learn-more{
  margin-top: 2em;
  border-radius: 30px;
  color:white;
  background-color: #2e3091;
}
.learn-more:hover{
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
}
.second-row{
  margin-top: 3em;
}
.contact{
  width: 50em;
}
#news{
  background-color: rgba(247,247,248, .83);
}
.w3-card:hover{
    box-shadow:0 2px 5px 5px #2e309140, 0 2px 10px 0 rgba(0,0,0,0.12);
}
