body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif !important;
}
h1,h2,h3,h4,h5{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
}
a{
  color: white;
}
#section-footer{
    left: 0 ; right: 0; bottom: 0;
    padding-top: 2vh !important;
    padding-bottom: 1vh !important;
    background-color: black;
    color: white;
    flex-shrink: 0;
    margin-bottom: 0;
}
#section-footer ul{
  list-style-type: none;
  font-size: 0.9em;
}
#section-footer ul li a:hover{
  text-decoration: none;
  font-size: 16px;
  color: white;
}
#section-footer li:first-child {
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}
#section-footer ul.social-media li {
    display: inline;
    font-size: 1.8em;
    margin: 0.2em;
}
#section-footer ul.social-media li:first-child {
    display: block;
    font-size: 16px;
}
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
#section-footer ul.social-media li a:hover {
  font-size: inherit;
}
a.facebook svg:hover{
  color: #3b5998;
}
a.twitter svg:hover{
  color: #00aced;
}
a.linkedin svg:hover{
  color: #0077b5;
}
a.instagram svg:hover{
  color: #cd486b;
}
.body-container{
  flex: 1;
}
.navbar-logo{
  width: 23em;
}
.navbar-light .navbar-nav .nav-link{
  color:black;
}
.navbar-light .navbar-nav .nav-link:hover{
  font-weight: 900;
  color: black;
}
.bg-light{
  background-color: white!important;
}
.section-heading{
  text-align: center;
}
section{
  padding-top: 2em;
  padding-bottom: 1em;
}
@media only screen and (max-width: 600px) {
    .navbar-logo{
      width: 12em;
    }
}
